@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../fonts/GeorgiaRegular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/RobotoBlack.ttf') format('truetype');
    font-style: normal;
}
