.btn {
    outline: none;
    border-radius: 2px;
    border: 1px solid $black;
    font-family: 'RobotoBlack', sans-serif;
    text-decoration: none;
    font-size: 17px;
    padding: 20px 75px;
    text-transform: uppercase;
    &_black {
        background-color: $black;
        border: none;
        font-size: 14px;
        color: $white;
    }
}
