/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. */
a, area, button, input, label, select, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Reset
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, blockquote, em, img, i, dl, dt, ol, ul, li, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/** to remove the rounded in IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: 'GeorgiaRegular';
  src: url("../fonts/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'GeorgiaBold';
  src: url("../fonts/GeorgiaBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url("../fonts/RobotoBlack.ttf") format("truetype");
  font-style: normal;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 75px;
  border-radius: 2px;
  position: relative;
  font-family: 'RobotoBlack', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn:hover {
  background: transparent;
  color: #000;
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #000;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn:hover:before, .btn:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

html, body {
  min-height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'GeorgiaRegular', sans-serif;
}

table, th, td {
  border: 1px solid black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 85px;
}

.footer nav {
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}

.footer nav a::after {
  display: none;
}

nav a {
  color: #fff;
  cursor: pointer;
  position: relative;
  font-family: 'RobotoBlack', sans-serif;
  font-size: 12px;
  line-height: 100px;
  margin: 0 35px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav a::before {
  content: '';
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: -35px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #fff;
}

nav a::after {
  position: absolute;
  content: '';
  height: 3px;
  background: #eab96a;
  bottom: -1px;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav a:first-child::before {
  display: none;
}

nav a:hover {
  color: #eab96a;
}

.no-touch nav a:hover::after {
  width: 150%;
}

[data-type="content"] {
  position: absolute;
  z-index: 10;
}

.header {
  width: calc(100% + 40px);
  padding: 0 20px;
  height: 100px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateZ(0);
  -webkit-transition: .8s ease;
  transition: .8s ease;
  position: absolute;
  left: -20px;
  z-index: 20;
}

.header__logo {
  position: absolute;
  width: 280px;
  left: 20px;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-family: 'RobotoBlack', sans-serif;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__logo::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 1px;
  top: 50%;
  left: -20px;
  background-color: #7d7b7a;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__logo::after {
  content: '';
  position: absolute;
  width: calc(100vw - 280px);
  height: 1px;
  top: 50%;
  left: 260px;
  background-color: #7d7b7a;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__svg {
  position: relative;
  width: 75px;
}

.header__svg span {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__tel {
  margin-right: 45px;
  color: #fff;
  font-size: 27px;
  line-height: 100px;
  text-decoration: none;
  font-family: 'RobotoBold', sans-serif;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__tel:hover {
  color: #eab96a;
}

.header.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(0);
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.header.fixed .header__logo {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  bottom: 50%;
}

.header.fixed .header__logo::before, .header.fixed .header__logo::after {
  display: none;
}

.header.fixed .header__logo .header__svg span:first-child {
  display: none;
}

.content__title {
  font-size: 50px;
  letter-spacing: 2px;
  display: inline-block;
  margin: 100px auto 50px;
  position: relative;
  text-transform: uppercase;
  font-family: 'RobotoBlack', sans-serif;
}

.content__title_white {
  color: #fff;
}

.partners .content__title {
  margin: 135px 0 135px;
}

.partners .content__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 1px;
  background-color: #000;
}

.questions .content__title {
  margin: 145px 0 50px;
  width: 100%;
}

.questions .content__title::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.content__title-descr {
  color: #485260;
}

.content__title-descr_white {
  color: #fff;
}

.gallery .content__title-descr {
  width: 420px;
  margin: 0 auto;
}

.content__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__wrapper {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content__wrapper_top {
  padding-top: 25.75vh;
}

.questions .content__wrapper {
  padding-left: 420px;
  text-align: left;
}

.footer {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  background: url(/static/img/content/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__descr {
  color: #fff;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  line-height: 26px;
  text-align: justify;
}

.footer__info {
  width: 100%;
  margin: 60px 0 45px;
  background-color: rgba(0, 0, 0, 0.38);
  border: 1px solid #fff;
  box-sizing: border-box;
}

.footer__info-icon {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__info-item {
  text-align: center;
  width: 33.33%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  box-sizing: border-box;
}

.footer__info-item a {
  color: #fff;
  text-decoration: none;
  font-family: 'RobotoBlack', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 120px;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer__info-item a:hover {
  color: #eab96a;
}

.footer__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  color: #fff;
  line-height: 27px;
}

.footer__copyright span {
  padding: 4px 13px;
}

.footer__copyright span:last-child {
  font-size: 12px;
  font-family: 'RobotoBlack', sans-serif;
  border-left: 1px solid #fff;
  text-transform: uppercase;
}

.footer__copyright span:last-child a {
  color: #fff;
  margin-left: 6px;
}

.footer__mask {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.gallery {
  position: relative;
  padding-bottom: 200px;
  text-align: center;
  background: url(/static/img/content/gallery-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #222121;
}

.gallery__left-arrow {
  position: absolute;
  left: -100px;
  pointer-events: none;
}

.gallery__left-arrow span:last-child {
  position: relative;
  top: -13px;
  left: -17px;
}

.gallery__right-arrow {
  position: absolute;
  right: -100px;
  pointer-events: none;
}

.gallery__right-arrow span:first-child {
  position: relative;
  top: -13px;
  right: -17px;
}

.gallery__slider {
  padding: 87px 0 65px;
}

.gallery__slider-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.gallery__mask {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.gallery__mask_bottom {
  top: inherit;
  bottom: -10px;
}

.gallery__counter {
  position: relative;
  width: 200px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 20px;
  color: #eab96a;
}

.gallery__current, .gallery__count {
  position: absolute;
  font-size: 30px;
  color: #fff;
  bottom: 17px;
}

.gallery__current {
  left: 52px;
}

.gallery__count {
  right: 52px;
}

.main {
  height: 100vh;
  padding: 0 20px;
  position: relative;
  background: url(/static/img/content/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__h1 {
  color: #fff;
  font-size: 58px;
  letter-spacing: 2.5px;
  font-family: 'RobotoBlack', sans-serif;
  text-transform: uppercase;
}

.main__h1 span {
  color: #eab96a;
}

.main__mask {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.main__scroll-btn {
  width: 60px;
  height: 60px;
  fill: #eab96a;
  margin: 0 auto;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

.main__scroll-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: move-button 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: move-button 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.no-touch .main__scroll-btn:hover {
  fill: #fff;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #eab96a;
}

.no-touch .main__scroll-btn:hover span {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.main__title {
  color: #fff;
  margin-bottom: 7.4vh;
}

.main__title-text {
  font-size: 58px;
}

.main__title-head {
  margin: 3.7vh 0 5.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title-descr {
  font-size: 17px;
  margin: 0 75px;
}

.main__title-footer {
  margin: 6.35vh 0 3.7vh;
  font-size: 21px;
}

.parralax-0 {
  right: 5vw;
  bottom: -3vh;
}

@-webkit-keyframes move-button {
  0% {
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
  50% {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
  }
  100% {
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
}

@keyframes move-button {
  0% {
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
  50% {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
  }
  100% {
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
}

.partners {
  position: relative;
  text-align: center;
  padding-bottom: 175px;
  background: url(/static/img/content/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.partners::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.partners__img-wrap img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.partners__figure-left, .partners__figure-right {
  position: relative;
  top: -10px;
}

.partners__figure-left {
  left: -35px;
}

.partners__figure-right {
  right: -35px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.partners__slider-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.programs {
  position: relative;
  padding-bottom: 200px;
  background: url(/static/img/content/program-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.programs__bg {
  position: absolute;
  font-size: 200px;
  font-family: 'RobotoBlack', sans-serif;
  color: #dddddd;
  right: 75px;
  top: -105px;
  text-transform: uppercase;
  z-index: -1;
}

.programs__certificate {
  position: relative;
  padding-left: 50px;
}

.programs__certificate::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -38px;
  width: 28px;
  height: 29px;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.programs__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 80px 0 65px;
}

.programs__descr-item {
  width: 28%;
  margin-right: 8%;
  border-top: 1px solid #939393;
}

.programs__descr-item:last-child {
  margin-right: 0;
}

.programs__descr-item-title {
  font-size: 17px;
  min-height: 75px;
  line-height: 25px;
  margin: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'RobotoBlack', sans-serif;
  text-transform: uppercase;
}

.programs__descr-item-content li {
  line-height: 35px;
}

.programs__descr-item-content li::before {
  content: '-';
  margin-right: 5px;
}

.programs__info {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs__photo {
  width: 640px;
}

.programs__photo img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.programs__price {
  font-size: 58px;
  font-family: 'GeorgiaBold', sans-serif;
}

.programs__price::after {
  content: 'usd';
  display: inline-block;
  font-size: 31px;
}

.programs__star-left, .programs__star-right {
  position: relative;
  top: -10px;
}

.programs__star-left {
  left: -25px;
}

.programs__star-right {
  right: -25px;
}

.programs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #adadad;
}

.programs__tabs li {
  cursor: pointer;
  position: relative;
}

.programs__tabs li a {
  font-family: 'RobotoBlack', sans-serif;
  font-size: 21px;
  line-height: 90px;
  margin: 0 80px;
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.programs__tabs li::after {
  position: absolute;
  content: '';
  height: 3px;
  background: #000;
  bottom: -1px;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.programs__tabs li.active a {
  color: #000;
}

.programs__tabs li.active::after {
  width: 100%;
}

.no-touch .programs__tabs li:hover a {
  color: #000;
}

.no-touch .programs__tabs li:hover::after {
  width: 100%;
}

.programs__tab {
  display: none;
}

.programs__tab.active {
  display: block;
  position: relative;
}

.programs__tab-wrap {
  margin-top: 100px;
  text-align: left;
}

.programs__tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs__table {
  padding-bottom: 200px;
  position: relative;
  text-align: left;
  width: 695px;
  color: #485260;
}

.programs__table tr.active th:first-child::before {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -92px;
  width: 16px;
  height: 13px;
  background-repeat: no-repeat;
}

.programs__table th {
  line-height: 40px;
  font-weight: 400;
}

.programs__table th:first-child {
  width: 50px;
  position: relative;
}

.programs__table th:first-child::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -109px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.programs__table th:last-child {
  padding-left: 15px;
}

.programs__table-title {
  margin-bottom: 25px;
  font-size: 17px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'RobotoBlack', sans-serif;
}

.programs__time {
  position: relative;
  padding-left: 50px;
}

.programs__time::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -4px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.programs__time::after {
  content: 'minets';
  display: inline-block;
  margin-left: 6px;
}

.programs__title {
  font-size: 30px;
  margin: 15px 0 40px;
  font-family: 'GeorgiaBold', sans-serif;
}

.parralax-1 {
  left: -2vw;
  top: -5vh;
}

.parralax-2 {
  right: -4vw;
  bottom: 60%;
}

.parralax-3 {
  right: 0;
  bottom: -150vh;
  z-index: 1;
}

.parralax-4 {
  left: 2vw;
  bottom: -140vh;
  z-index: 1;
}

.questions {
  position: relative;
  text-align: center;
  padding-bottom: 100px;
  background: url(/static/img/content/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.questions__img {
  position: absolute;
  -webkit-transform: translateX(-115%);
          transform: translateX(-115%);
  top: 150px;
}

.questions__send {
  position: relative;
}

.questions__send .gallery__right-arrow {
  right: -60px;
  top: 17px;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.no-touch .questions__send:hover input[type='submit'] {
  background: #000;
  color: #fff;
}

.no-touch .questions__send:hover .gallery__right-arrow {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.questions__form .btn {
  margin-left: 135px;
}

.questions__form input[type='submit'] {
  padding: 0 85px;
  font-size: 18px;
  margin-left: 85px;
  text-transform: uppercase;
  line-height: 60px;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.questions__form-fields {
  width: 385px;
}

.questions__form-fields input[type='text'] {
  padding-top: 40px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}

.questions__form-fields input[type='text']:first-child {
  padding-top: 80px;
}

.questions__form-fields input[type='text']::-webkit-input-placeholder {
  color: #000;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'RobotoBlack', sans-serif;
}

.questions__form-fields input[type='text']:-moz-placeholder {
  color: #666;
}

.questions__form-fields input[type='text']::-moz-placeholder {
  color: #666;
}

.questions__form-fields input[type='text']:-ms-input-placeholder {
  color: #666;
}

.parralax-6 {
  left: 0;
  bottom: -20vh;
  z-index: 15;
}

.parralax-8 {
  right: 0;
  bottom: -20vh;
  z-index: 13;
}

.slick-track {
  -webkit-transition: -webkit-transform 500ms ease 4s;
  transition: -webkit-transform 500ms ease 4s;
  transition: transform 500ms ease 4s;
  transition: transform 500ms ease 4s, -webkit-transform 500ms ease 4s;
}

.partners .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: -webkit-transform 300ms ease 6s;
  transition: -webkit-transform 300ms ease 6s;
  transition: transform 300ms ease 6s;
  transition: transform 300ms ease 6s, -webkit-transform 300ms ease 6s;
}

.gallery .slick-slide {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  height: 500px;
}

.partners .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 135px !important;
}

.slick-next_new {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -71px;
  width: 9px;
  height: 17px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gallery .slick-next_new {
  top: inherit;
  bottom: -65px;
  left: calc(50% + 192px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #eab96a;
  background: transparent;
  color: transparent;
  width: 67px;
  height: 67px;
}

.no-touch .gallery .slick-next_new:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slick-prev_new {
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -71px;
  width: 9px;
  height: 17px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gallery .slick-prev_new {
  top: inherit;
  bottom: -65px;
  left: calc(50% - 192px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #eab96a;
  background: transparent;
  color: transparent;
  width: 67px;
  height: 67px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.no-touch .gallery .slick-prev_new:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots li button {
  outline: none;
  border: none;
  width: 15px;
  height: 15px;
  color: transparent;
  border-radius: 50%;
  background-color: #000;
}

.slick-dots li.slick-active button {
  background-color: #eab96a;
}

.testimonials {
  position: relative;
  text-align: center;
  padding-bottom: 100px;
  background: url(/static/img/content/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #222121;
}

.testimonials__img-wrap {
  width: 170px;
  height: 170px;
  margin: 0 auto 35px;
}

.testimonials__img-wrap img {
  border-radius: 50%;
}

.testimonials__facebook {
  width: 38px;
  height: 38px;
  top: -150px;
  left: 135px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  background-color: #4267b2;
}

.testimonials__facebook svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonials__title {
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'RobotoBlack', sans-serif;
}

.testimonials__descr {
  color: #485260;
  width: 880px;
  margin: 30px auto 0;
}

.testimonials__slider {
  padding-top: 75px;
}

.testimonials__slider-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
