mixin programs__info(title, time, price)
    .programs__info
        .programs__title #{title}
        .programs__certificate Certificate
        .programs__time #{time}
        .programs__price #{price}
        a.btn #{title}
