.gallery {
    position: relative;
    padding-bottom: 200px;
    text-align: center;
    background: url(/static/img/content/gallery-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $brown;
    &__left-arrow {
        position: absolute;
        left: -100px;
        pointer-events: none;
        span:last-child {
            position: relative;
            top: -13px;
            left: -17px;
        }
    }
    &__right-arrow {
        position: absolute;
        right: -100px;
        pointer-events: none;
        span:first-child {
            position: relative;
            top: -13px;
            right: -17px;
        }
    }
    &__slider {
        padding: 87px 0 65px;
    }
    &__slider-item {
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    &__mask {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        &_bottom {
            top: inherit;
            bottom: -10px;
        }
    }
    &__counter {
        position: relative;
        width: 200px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 20px;
        color: #eab96a;
    }
    &__current, &__count {
        position: absolute;
        font-size: 30px;
        color: $white;
        bottom: 17px;
    }
    &__current {
        left: 52px;
    }
    &__count {
        right: 52px;
    }
}

//.parralax-5 {
//    right: 0;
//    bottom: 20vh;
//    z-index: 1;
//}
