.main {
    height: 100vh;
    padding: 0 20px;
    position: relative;
    background: url(/static/img/content/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__h1 {
        color: $white;
        font-size: 58px;
        letter-spacing: 2.5px;
        font-family: 'RobotoBlack', sans-serif;
        text-transform: uppercase;
        span {
            color: $beige;
        }
    }
    &__mask {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    &__scroll-btn {
        width: 60px;
        height: 60px;
        fill: $beige;
        margin: 0 auto;
        position: relative;
        background: transparent;
        border: 1px solid $white;
        border-radius: 50%;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            animation: move-button 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:hover {
            .no-touch & {
                fill: $white;
                background: rgba(0,0,0, .2);
                border: 1px solid $beige;
                span {
                    animation: none;
                    transform: translate(-50%, -50%) scale(1.5);
                }
            }
        }
    }
    &__title {
        color: $white;
        margin-bottom: 7.4vh;
    }
    &__title-text {
        font-size: 58px;
    }
    &__title-head {
        margin: 3.7vh 0 5.8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title-descr {
        font-size: 17px;
        margin: 0 75px;
    }
    &__title-footer {
        margin: 6.35vh 0 3.7vh;
        font-size: 21px;
    }
}

.parralax-0 {
    right: 5vw;
    bottom: -3vh;
}

@keyframes move-button {
    0% {
        transform: (translate(-50%, -15%));
    }
    50% {
        transform:(translate(-50%, -85%));
    }
    100% {
        transform:(translate(-50%, -15%));
    }
}
