.partners {
    position: relative;
    text-align: center;
    padding-bottom: 175px;
    background: url(/static/img/content/testimonials-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .05);
    }
    &__img-wrap {
        img {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
    &__figure-left, &__figure-right {
        position: relative;
        top: -10px;
    }
    &__figure-left {
        left: -35px;
    }
    &__figure-right {
        right: -35px;
        transform: rotate(-180deg);
    }
    &__slider {
    }
    &__slider-item {
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}


